@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.colornav {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* body {
  background-color: #f6f8fd;
}

* body #btnTop {
  position: fixed;
  bottom: 12%;
  right: 5%;
  background-color: #f8f8f8;
  color: #4da0ff;
  z-index: 99;
}

* body nav {
  z-index: 1;
  position: fixed !important;
  width: 100%;
}

* body nav .container-fluid a.navbar-brand {
  font-size: 24px;
  color: #444444;
}

* body nav .container-fluid .navbar-collapse ul li .nav-link {
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #464646;
  font-size: 18px;
}

* body nav .container-fluid .navbar-collapse ul li .marker {
  position: relative;
}

* body nav .container-fluid .navbar-collapse ul li .marker:after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  -webkit-transform: translateX(50%) scaleX(0);
          transform: translateX(50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 50%;
  height: 2.5px;
  background-color: #22c58b;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

* body nav .container-fluid .navbar-collapse ul li .marker:hover::after {
  -webkit-transform: translateX(50%) scaleX(1);
          transform: translateX(50%) scaleX(1);
}

* body nav .container-fluid .navbar-collapse ul li .nomorhp {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #e5e9f2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body nav .container-fluid .navbar-collapse ul li .nomorhp:hover {
  color: #22c58b;
  border: 1px solid #22c58b;
}

* body nav .container-fluid .navbar-collapse ul li #login {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body .jumbotron {
  height: 783px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

* body .jumbotron .container h1 {
  font-size: 38px;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.16);
}

* body .jumbotron .container p {
  font-size: 14px;
}

* body .jumbotron .container .tombol {
  border-radius: 25px;
  color: #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  background-color: #22c58b !important;
}

* body .jumbotron .container .tombol:hover {
  background-color: transparent !important;
  color: #22c58b;
  border: 1px solid #22c58b !important;
  background-color: initial;
  border: initial;
}

* body .container #section1 p {
  color: #22c58b;
  font-size: 14px;
}

* body .container #section1 div:nth-of-type(1) {
  background-color: #e5e9f2;
  border-radius: 25px;
}

* body .container #section1 div p {
  color: #22c58b;
  font-size: 14px;
}

* body .container #section2 div p {
  font-size: 14px;
}

* body .container #section3 p {
  color: #22c58b;
  font-size: 14px;
}

* body .container #section3 h3 {
  max-width: 50%;
}

* body .container #section3 a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body .container #section3 a div div p:nth-of-type(1) {
  font-size: 14px;
  float: left;
}

* body .container #section3 a div div p:nth-of-type(2) {
  clear: both;
  font-size: 11px;
  color: rgba(69, 69, 69, 0.5);
  float: left;
}

* body .container #section3 a:hover {
  background-color: #e5e9f2;
}

* body .container #section4 p {
  color: #22c58b;
  font-size: 14px;
}

* body .container #section4 .row div div span {
  max-width: 70%;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body .container #section4 .row div div span p {
  font-size: 10px;
  color: initial;
  margin: 0;
}

* body .container #section4 .row div div span:hover {
  background-color: #e5e9f2;
  cursor: pointer;
  -webkit-box-shadow: initial !important;
          box-shadow: initial !important;
}

* body .container #section4 .row #step {
  border-radius: 25px;
  background-color: #e5e9f2;
}

* body .container #section5 p {
  color: #22c58b;
  font-size: 14px;
}

* body .container #section5 .row div p {
  color: initial;
  margin-bottom: 0;
}

* body .container #section5 .row div span {
  font-size: 14px;
}

* body .container #section6 {
  margin-top: 5em;
}

* body .container #section6 div p {
  font-size: 14px;
}

* body .container #section6 div .tombol {
  border-radius: 25px;
  color: #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  background-color: #4da0ff !important;
}

* body .container #section7 .carousel .carousel-indicators {
  bottom: initial;
  top: -25px;
  position: initial;
}

* body .container #section7 .carousel .carousel-indicators button {
  width: 15px;
  height: 5px;
  background-color: #cce2fe;
}

* body .container #section7 .carousel .carousel-indicators .active {
  background-color: #4da0ff;
}

* body .container #section7 .carousel .carousel-inner .carousel-item a p {
  font-size: 16px;
  max-width: 80%;
  margin: 0 auto;
}

* body .container #section7 .carousel .carousel-inner .carousel-item a div p:nth-of-type(1) {
  font-weight: bold;
  font-size: 12px;
}

* body .container #section7 .carousel .carousel-inner .carousel-item a div p {
  max-width: initial;
  font-size: 10px;
  text-align: left;
}

* body .container footer {
  margin-top: 5em;
}

* body .container footer div:nth-of-type(1) h3 {
  font-size: 24px;
  font-weight: bold;
}

* body .container footer div:nth-of-type(1) p {
  font-size: 12px;
}

* body .container footer div h3 {
  font-size: 18px;
  font-weight: bold;
}

* body .container footer div ul li a {
  font-size: 12px;
  text-decoration: none;
  color: initial;
}

* body hr {
  color: rgba(0, 0, 0, 0.5);
}

* body p.copyright,
* body p.copyright a {
  font-size: 12px;
  text-decoration: none;
  color: initial;
}

* body div#content-jasa #headline {
  width: 50%;
  padding-top: 10em;
}

* body div#content-jasa #headline h4 {
  font-size: 38px;
}

* body div#content-jasa #headline p {
  font-size: 14px;
}

* body div#content-jasa #subheading {
  margin-top: 5em;
  position: relative;
}

* body div#content-jasa #subheading div::before {
  content: "";
  height: 100%;
  width: 0.5em;
  position: absolute;
  background-color: #4da0ff;
}

* body div#content-jasa #subheading h4 {
  width: 40%;
  font-size: 18px;
}

* body div#content-jasa #package .choice #list1,
* body div#content-jasa #package .choice #list2 {
  border-radius: 25px;
  background-color: #e5e9f2;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

* body div#content-jasa #package .choice .aktif,
* body div#content-jasa #package .choice #list1:active,
* body div#content-jasa #package .choice #list2:active {
  background: #4da0ff !important;
  color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 7px #8f8f8f !important;
          box-shadow: 0px 0px 7px #8f8f8f !important;
}

* body div#content-jasa #package .description #desclist1 a#pricelist,
* body div#content-jasa #package .description #desclist2 a#pricelist {
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a6ce9), to(#0decfe));
  background: linear-gradient(to bottom, #3a6ce9, #0decfe);
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  margin-bottom: 1em;
}

* body div#content-jasa #package .description #desclist1 a#pricelist h3,
* body div#content-jasa #package .description #desclist2 a#pricelist h3 {
  font-size: 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  text-align: center;
}

* body div#content-jasa #package .description #desclist1 a#pricelist h3 sup,
* body div#content-jasa #package .description #desclist2 a#pricelist h3 sup {
  font-size: 14px;
  position: absolute;
  -webkit-transform: translate(-80%, 0);
          transform: translate(-80%, 0);
}

* body div#content-jasa #package .description #desclist1 a#pricelist h3.basic::before,
* body div#content-jasa #package .description #desclist2 a#pricelist h3.basic::before {
  content: "Basic";
  top: -0.5em;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  position: absolute;
  opacity: 0.2;
}

* body div#content-jasa #package .description #desclist1 a#pricelist h3.standar::before,
* body div#content-jasa #package .description #desclist2 a#pricelist h3.standar::before {
  content: "Standar";
  top: -0.5em;
  -webkit-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
  position: absolute;
  opacity: 0.2;
}

* body div#content-jasa #package .description #desclist1 a#pricelist h3.premium::before,
* body div#content-jasa #package .description #desclist2 a#pricelist h3.premium::before {
  content: "Premium";
  top: -0.5em;
  -webkit-transform: translate(-28%, 0);
          transform: translate(-28%, 0);
  position: absolute;
  opacity: 0.2;
}

* body div#content-jasa #package .description #desclist1 a#pricelist ul li,
* body div#content-jasa #package .description #desclist2 a#pricelist ul li {
  font-size: 14px;
  line-height: 3em;
  text-shadow: 1px 2px 7px #bdbdbd;
}

* body div#content-jasa #package .description #desclist1 #pricelist:hover,
* body div#content-jasa #package .description #desclist1 #pricelist2:hover,
* body div#content-jasa #package .description #desclist2 #pricelist:hover,
* body div#content-jasa #package .description #desclist2 #pricelist2:hover {
  color: #444444;
  background: initial;
  border: 5px solid #4da0ff;
  -webkit-transform: translate(0%, -3%) !important;
          transform: translate(0%, -3%) !important;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2,
* body div#content-jasa #package .description #desclist2 a#pricelist2 {
  border-radius: 25px;
  color: #444444;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  margin-bottom: 1em;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 p,
* body div#content-jasa #package .description #desclist2 a#pricelist2 p {
  opacity: 0.5;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 h3,
* body div#content-jasa #package .description #desclist2 a#pricelist2 h3 {
  font-size: 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  text-align: center;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 h3 sup,
* body div#content-jasa #package .description #desclist2 a#pricelist2 h3 sup {
  font-size: 14px;
  position: absolute;
  -webkit-transform: translate(-80%, 0);
          transform: translate(-80%, 0);
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 h3.company-profile::before,
* body div#content-jasa #package .description #desclist2 a#pricelist2 h3.company-profile::before {
  content: "Company Profile";
  top: -0.5em;
  -webkit-transform: translate(-15%, 0);
          transform: translate(-15%, 0);
  position: absolute;
  opacity: 0.2;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 h3.online-shop::before,
* body div#content-jasa #package .description #desclist2 a#pricelist2 h3.online-shop::before {
  content: "Online Shop";
  top: -0.5em;
  position: absolute;
  opacity: 0.2;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 ul li,
* body div#content-jasa #package .description #desclist2 a#pricelist2 ul li {
  font-size: 14px;
  line-height: 3em;
}

* body div#content-jasa #package .description #desclist1 a#pricelist2 button,
* body div#content-jasa #package .description #desclist2 a#pricelist2 button {
  border: 2px solid #4da0ff;
  border-radius: 25px;
}

* body #content-blog {
  padding-top: 5em;
  width: 60%;
}

* body #content-blog .writer .row {
  width: 70%;
}

* body #content-blog .writer .row .data-profile h4 {
  font-size: 16px;
}

* body #content-blog .writer .row .data-profile a {
  font-size: 10px;
  border: 2px solid #4da0ff;
  border-radius: 20px;
  color: #4da0ff;
  padding: 0;
}

* body #content-blog .writer .row .data-profile p:nth-of-type(1) {
  font-size: 10px;
}

* body #content-blog .writer .row .data-profile p:nth-of-type(2) {
  font-size: 12px;
}

* body #content-blog .writer .row .url {
  font-size: 12px;
}

* body #content-blog .article p {
  font-size: 16px;
}

@media (max-width: 991px) {
  * body nav.navbar {
    background: #f8f8f8;
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16);
  }
  * body nav.navbar .container-fluid .navbar-toggler {
    border: initial;
  }
  * body nav.navbar .container-fluid .navbar-toggler:focus {
    -webkit-box-shadow: initial;
            box-shadow: initial;
  }
  * body nav.navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item {
    text-align: center;
  }
  * body nav.navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  * body nav.navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item .nomorhp {
    width: 220px;
    margin: 1em auto 0 auto;
  }
  * body .jumbotron .container h1 {
    font-size: 30px;
  }
  * body .container #section3 h3 {
    max-width: initial;
  }
  * body .container #section7 .carousel .carousel-inner .carousel-item a p {
    max-width: initial;
  }
  * body div#content-jasa #headline {
    width: initial;
    padding-top: 7em;
  }
  * body div#content-jasa #headline h4 {
    font-size: 28px;
  }
  * body div#content-jasa #headline p {
    font-size: 14px;
  }
  * body div#content-jasa #subheading h4 {
    width: initial;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  * body .jumbotron .container:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -200px;
  }
  * body .jumbotron .container:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  * body .container #section1 div h3 {
    margin-top: 1em;
  }
  * body .container #section2 div {
    margin-top: 1em;
  }
  * body .container #section4 .row div span {
    max-width: initial;
  }
  * body .container footer {
    text-align: center;
  }
  * body .container footer div:nth-of-type(1) {
    width: initial;
  }
  * body .container footer div {
    margin-top: 2em;
  }
  * body div#content-jasa #package .choice #list1 {
    margin-bottom: 0.5em;
    margin-right: 0 !important;
  }
  * body #content-blog {
    width: initial !important;
  }
  * body #content-blog .writer .row {
    width: initial !important;
  }
}

@media (max-width: 599px) {
  * body .navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item .marker::after {
    width: 100%;
  }
  * body .navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item .marker:hover::after {
    -webkit-transform: translateX(0%) scaleX(1);
            transform: translateX(0%) scaleX(1);
  }
  * body .jumbotron .container h1 {
    font-size: 20px;
  }
  * body .jumbotron .container p,
  * body .jumbotron .container a.tombol {
    font-size: 12px;
  }
  * body .jumbotron .container:nth-of-type(1) {
    margin-top: -370px;
  }
  * body .jumbotron .container:nth-of-type(2) {
    margin-top: -50px;
  }
  * body .container #section1 div h3 {
    font-size: 18px;
  }
  * body .container #section1 div p {
    font-size: 11px;
  }
  * body .container #section2 div p {
    font-size: 11px;
  }
  * body .container #section3 p,
  * body .container #section4 p {
    font-size: 14px;
  }
  * body .container #section3 h3,
  * body .container #section4 h3 {
    font-size: 18px;
  }
  * body .container #section5 h3 {
    font-size: 18px;
  }
  * body .container #section6 div h3 {
    font-size: 18px;
  }
  * body .container #section6 div p {
    font-size: 11px;
  }
}

@media (max-width: 399px) {
  * body .jumbotron .container:nth-of-type(1) {
    margin-top: -450px;
  }
  * body .jumbotron .container:nth-of-type(2) {
    margin-top: -100px;
  }
}
/*# sourceMappingURL=main.css.map */